name: Orbis Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  HAXE_VERSION: 4.3.6
  SDK_VERSION: 0.0.1.416
  SDK_PATH: /opt/OpenOrbis/PS4Toolchain

jobs:
  build-ps4:
    runs-on: ubuntu-latest

    # Define the toolchain path as an environment variable
    env:
      OO_PS4_TOOLCHAIN: ${{ github.workspace }}/toolchain

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@v2
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Set env variables
        run: |
          echo "HAXELIB_PATH=/opt/hostedtoolcache/haxe/${{ env.HAXE_VERSION }}/x64/lib" >> $GITHUB_ENV
          if [ "${{ github.event_name }}" == "release" ]; then
            echo "VERSION=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          fi

      - name: Install Haxe Dependencies
        run: |
          haxelib git hxwell https://github.com/hxwell/hxwell
          haxelib git haxe-crypto https://github.com/barisyild/haxe-crypto
          haxelib git hxvm-lua https://github.com/kevinresol/hxvm-lua
          haxelib git linc_lua https://github.com/kevinresol/linc_lua
          haxelib install haxe-concurrent 5.1.4
          haxelib install hscript 2.6.0
          haxelib install rulescript 0.2.0
          haxelib install uuid
          
          # Install HXCPP
          cd ${{ env.HAXELIB_PATH }}
          mkdir -p hxcpp
          cd hxcpp
          if [ ! -d "orbis-payload" ]; then
            git clone https://github.com/barisyild/hxcpp/ --branch orbis-payload orbis-payload
            echo orbis-payload > .current
            cd orbis-payload
          else
            cd orbis-payload
            git pull
          fi
          cd tools/hxcpp
          haxe compile.hxml

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang lld make git libelf-dev libssl-dev

      - name: Setup OpenOrbis PS4 Toolchain
        run: |
          echo "Downloading Toolchain..."
          wget https://github.com/illusion0001/OpenOrbis-PS4-Toolchain/releases/download/${{ env.SDK_VERSION }}/toolchain.tar.gz -O toolchain.tar.gz
          
          export OO_PS4_TOOLCHAIN=${{ env.SDK_PATH }}
          
          echo "Creating directory and extracting..."
          tar -xzf toolchain.tar.gz -C /opt
                    
          echo "Toolchain setup complete."
      - name: Install LibSSL 1.1
        run: |
          sudo apt-get install -y software-properties-common
          sudo apt-add-repository -y ppa:rael-gc/rvm
          sudo apt-get install -y libssl-dev=1.1.1l-1ubuntu1.4

      - name: Debug
        run: |
          ls -la /opt
          ls -la $OO_PS4_TOOLCHAIN
          ls -la /opt/OpenOrbis/PS4Toolchain/include

      - name: Build Project
        run: |
          export OO_PS4_TOOLCHAIN=${{ env.SDK_PATH }}
          haxelib run hxwell build cpp -hxml orbis.hxml -export Export/orbis

      - name: Generate PKG
        run: |
          cd pkgroot
          chmod +x generate_pkg.sh
          ./generate_pkg.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PS4-Binary
          path: |
            *.elf
            *.pkg
            eboot.bin
